/* Footer */
.sf {
  margin-top: 80px;
}
.sm {
  padding: 0 2%;
}
footer {
  background-color: black;
}
.footer-f {
  padding-top: 80px;
  display: flex;
  width: 100%;
  height: 430px;
  margin-top: 85px;
}
.footer-f h1 {
  font-size: 40px;
  padding-bottom: 30px;
}
.footer-f h3 {
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 30px;
}
.download {
  color: white;
  flex: 2;
}
.download p {
  font-size: 14px;
  line-height: 1.6;
  color: gray;
}
.download img {
  height: 33px;
  width: 117px;
  border: 1px solid gray;
  border-radius: 6px;
  margin: 26px 1px 2% 2%;
  cursor: pointer;
}
.information {
  color: white;
  flex: 1;
}
.information p {
  font-size: 14px;
  line-height: 1.6;
  color: gray;
  padding-bottom: 15px;
  cursor: pointer;
}
.my-account {
  color: white;
  flex: 1;
}
.my-account p {
  font-size: 14px;
  line-height: 1.6;
  color: gray;
  padding-bottom: 15px;
  cursor: pointer;
}
.subscribe-now {
  position: relative;
  color: white;
  flex: 1;
}
.subscribe-now input {
  color: gray;
  margin: 30px 0;
  padding: 5px 2px;
  width: 100%;
  background-color: black;
  border: 0;
  border-bottom: 1px solid gray;
  font-size: 11px;
  transition: all 0.5s;
}
.subscribe-now .send {
  position: absolute;
  top: 23%;
  left: 80%;
  cursor: pointer;
}
.subscribe-now input:focus {
  outline: 0;
  border: 0;
  border-bottom: 1px solid gray;
}
.li {
  display: flex;
}
.li li {
  color: gray;
  justify-content: center;
  padding: 0 4%;
  opacity: 0.6;
  transform: scale(1);
  transition: all 0.2s;
  cursor: pointer;
}
.li li:hover {
  opacity: 1;
  transform: scale(1.1);
}
.last-f {
  padding: 1% 0;
  text-align: center;
  color: gray;
}
