/* verified */
.father-doc {
  display: flex;
  height: 280px;
}
.son-doc1 {
  flex: 1;
  position: relative;
}
.son-doc1 i {
  position: absolute;
  top: 50%;
  right: 40%;
  transform: translate(-50%, -50%);
}
.son-doc1 img:hover {
  opacity: 1;
  transform: scale(1.1);
}
.son-doc1 img {
  width: 94%;
  height: 100%;
  opacity: 0.8;
  transform: scale(1);
  transition: all 0.5s;
}

.son-doc2 {
  flex: 2;
  background: #d6bca2;
  padding: 20px;
  position: relative;
  transition: transform 0.2s;
  opacity: 0.8;
}
.son-doc2:hover {
  transform: scale(1.1);
  opacity: 1;
  z-index: 10;
}
.son-doc2 .top {
  position: relative;
  padding-left: 50px;
  margin-bottom: 20px;
}
.son-doc2 .top .doc-title {
  position: absolute;
  left: 36%;
  top: -27%;
  font-size: 30px;
  color: black;
}

.son-doc2 .top + p {
  line-height: 1.9;
}
.son-doc2 p {
  margin-top: 78px;
  color: gray;
  font-size: 15px;
}
.son-doc2 .num-subtitle {
  position: absolute;
  left: 0%;
  font-size: 29px;
  font-weight: bold;
  margin-top: 2%;
  margin-left: 1.5%;
  color: var(--maincolor);
}
.son-doc2 .doc-subtitle {
  position: absolute;
  left: 0%;
  top: 7%;
  font-size: 13px;
  margin-top: 7%;
  color: var(--maincolor);
}

.son-doc2 .bolletes span {
  display: inline-block;
  width: 50px;
  height: 2px;
  background: var(--maincolor);
  margin-left: 10px;
}
.son-doc2 .bolletes {
  position: absolute;
  bottom: 20px;
  right: 20px;
  text-align: right;
}
.verified-photo {
  display: flex;
}
.verified-photo img {
  padding: 0 4%;
  height: 100px;
  flex: 1;
  opacity: 0.6;
  transform: scale(1);
  transition: all 0.5s;
}
.verified-photo img:hover {
  opacity: 1;
  transform: scale(1.1);
}
